/*Stylesheet for JM Psychic Game*/

* {
    margin: 0;
}

html,
body {
    color: #777777;
    /*background-image: url("assets/images/starfield.jpg");*/
    border-color: #dddddd;
    font-size: 18px;
    line-height: 34px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /*background-repeat: no-repeat;*/
    height: 100%;
}

body {
    background-image: url("../images/starfield.jpg");
    position: relative;
}

header,
h3 {
    color: #ffffff;
}

h2 {
    color: #f7d3f9;
}


/*Note to self: see notes below re: use of footer.push as to why necessary*/

.container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    /*background-image: url("../images/starfield.jpg");*/
}


/*.mainHeader{
	columns: */


}
#game {
    text-align: left;
}
#foot-wrapper {
    background: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    vertical-align: center;
    justify-content: center;
    padding: 20px;
    font-style: italic;
    font-size: 10px;
}

/*This "footer.push" will position Footer to stick to bottom if the page has less content and behave like a normal footer if the page has more content. Note Push must be same height as footer.  Source: http://stackoverflow.com/questions/21324395/bootstrap-3-flush-footer-to-bottom-not-fixed*/
.footer,
.push {
    height: 90px;
    text-align: center;
}
